[Desktop Entry]
Name=OpenDune
Comment=OpenDune for RG350
Exec=opendune
Terminal=false
Type=games
StartupNotify=true
Icon=icon
Categories=games
X-OD-NeedsDownscaling=true
